@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #ededed;
  }
}

.buenard-regular {
  font-family: "Buenard", serif;
  font-weight: 400;
  font-style: normal;
}

.buenard-bold {
  font-family: "Buenard", serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
}
